/* GLOBAL */

* {
    box-sizing: border-box;
}

body {
    background: #f1f1f1;
    background-image: url("../../public/glassesImage/background.jpg");
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
    height: 100vh;


}



.test {
    color: red;
}



.header {
    background-color: rgba(0, 0, 0, 0.6);
    color: white;
    height: 100px;
    font-size: 40px;

}

.title {
    height: 100%;
    padding-top: 20px;
}

.vglasses {
    background-image: url('../../public/glassesImage/model.jpg');
    background-position: center top;
    background-size: cover;
    height: 500px;

}

.glasses {
    margin-top: 40px;
    background-color: #f1f1f1;
    height: 280px;
    align-items: center;
}

.glasses img {

    width: 100%;
    cursor: pointer;
}

.item {

    display: inline-block;
    margin: auto 60px;
    width: 220px;
    padding: 10px;

}